<!DOCTYPE html>
<!-- 'Add asset' page written by Z.P.L. for OSNAP LOST web application demo -->
<!-- DANGER: DEMO VERSION! (no encryption or security measures have been used) -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>
            LOST - Add Asset
        </title>
    </head>
    <body background="{{url_for('static', filename='star_field.png')}}">
        <br>
        <table id="maintable" align="center">
            <tr><th>
                <h2>==== ADD ASSET ====</h2>
                <table align="center">
                    <tr><th id="gridhead">
                        <u>ID</u>
                    </th><th id="gridhead">
                        <u>TAG</u>
                    </th><th id="gridhead">
                        <u>DESCRIPTION</u>
                    </th><th id="gridhead">
                        <u>IS DISPOSED</u>
                    </th><th id="gridhead">
                        <u>IN TRANSIT</u>
                    </th><th id="gridhead">
                        <u>ARRIVAL DATE</u>
                    </th><th id="gridhead">
                        <u>DISPOSAL DATE</u>
                    </th></tr>
                    {% for a in assets %}
                        <tr><th id="gridcell">
                            {{a[0]}}.
                        </th><th id="gridcell">
                            {{a[1]}}
                        </th><th id="gridcell">
                            {{a[2]}}
                        </th><th id="gridcell">
                            {{a[3]}}
                        </th><th id="gridcell">
                            {{a[4]}}
                        </th><th id="gridcell">
                            {{a[5]}}
                        </th><th id="gridcell">
                            {{a[6]}}
                        </th></tr>
                    {% endfor %}
                </table><br>
            </th></tr>
            <tr><th>
                <form action="{{url_for('add_asset')}}" method="POST">
                    Asset tag: <input type="text" name="asset_tag"><br><br>
                    Description: <input type="text" name="asset_description"><br><br>
                    Facility: <select name="asset_facility_code">
                        {% for f in facilities %}
                            <option value="{{f[0]}}">{{f[2]}}</option>
                        {% endfor %}
                    </select><br><br>
                    Arrival time:
                    <select name="asset_arrival_year">
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                    <select name="asset_arrival_month">
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select name="asset_arrival_day">
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select><br><br>
                    <input type="submit" value="Submit">
                </form>
            </th></tr>
        </table><br>
        <table align="center">
            <tr><th>
                <form action="{{url_for('dashboard')}}">
                    <input type="submit" value="Back">
                </form>
            </th><th>
                <form action="{{url_for('index')}}">
                    <input type="submit" value="Logout">
                </form>
            </th></tr>
        </table>
    </body>
</html>

