<!DOCTYPE html>
<!-- "Asset does not exist" page written by Z.P.L. for OSNAP LOST web application demo -->
<!-- DANGER: DEMO VERSION! (no encryption or security measures have been used) -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>
            LOST - Dispose Asset
        </title>
    </head>
    <body background="{{url_for('static', filename='star_field.png')}}">
        <br>
        <table id="maintable" align="center">
            <tr><th>
                <h3 style="color:#990000">* ASSET TAG DOES NOT EXIST *</h3>
            </th></tr>
        </table><br>
        <table align="center">
            <tr><th>
                <form action="{{url_for('dispose_asset')}}">
                    <input type="submit" value="Back">
                </form>
            </th><th>
                <form action="{{url_for('dashboard')}}">
                    <input type="submit" value="Dashboard">
                </form>
            </th></tr>
        </table>
    </body>
</html>

