<!DOCTYPE html>
<!-- Login page written by Z.P.L. for OSNAP LOST web application demo -->
<!-- DANGER: DEMO VERSION! (no encryption or security measures have been used) -->
<html>
    <body>
        <table align="center">
            <tr><th>
                <h2>Create User</h2>
            </th></tr>
            <tr><th>
                <h3>
                    Max username length: 16 characters<br>
                    Max password length: 16 characters
                </h3>
            </th></tr>
            <tr><th>
                <form action="{{url_for('create_user')}}" method="POST">
                    Role: <input type="text" name="role"><br><br>
                    Username: <input type="text" name="username"><br><br>
                    Password: <input type="password" size="16" name="password"><br><br>
                    <input type="submit" value="Submit">
                </form>
            </th></tr>
            <tr><th>
                <form action="{{url_for('dashboard')}}">
                    <input type="submit" value="Dashboard">
                </form>
            </th></tr>
        </table>
    </body>
</html>

