<!DOCTYPE html>
<!-- 'Dashboard' page written by Z.P.L. for OSNAP LOST web application demo -->
<!-- DANGER: DEMO VERSION! (no encryption or security measures have been used) -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>
            LOST - Dashboard
        </title>
    </head>
    <body background="{{url_for('static', filename='star_field.png')}}">
        <br>
        <table align="center">
            <tr><th>
                <table id="maintable" align="center">
                    <tr><th colspan="2">
                        <h2>==== DASHBOARD ====</h2>
                    </th></tr>
                    <tr><th colspan="2">
                        <u>Welcome to LOST!</u><br>
                        <p>(Logistical Operations Service Tracker)</p>
                    </th></tr>
                    <tr><th id="gridhead" colspan="2">
                        <u>USERS SPECS</u>
                    </th></tr>
                    <tr><th id="gridcell" colspan="2">
                        Current user: <i style="color:#009900">{{username}}</i>
                    </th></tr>
                    <tr><th id="gridcell" colspan="2">
                        User role: <i style="color:#009900">{{role}}</i>
                    </th></tr>
                    <tr><th id="gridhead" colspan="2">
                        <u>AVAILABLE PROCEDURES</u>
                    </th></tr>
                    <tr><th id="gridcell">
                        <form action="{{url_for('add_facility')}}">
                            <input type="submit" value="Add Facility">
                        </form>
                    </th><th id="gridcell">
                        <form action="{{url_for('add_asset')}}">
                            <input type="submit" value="Add Asset">
                        </form>
                    </th></tr>
                    <tr><th id="gridcell">
                        <form action="{{url_for('transfer_report')}}">
                            <input type="submit" value="Transfer Report">
                        </form>
                    </th><th id="gridcell">
                        <form action="{{url_for('asset_report')}}">
                            <input type="submit" value="Asset Report">
                        </form>
                    </th></tr>
                </table>
            </th><th>
                <table id="maintable" align="center">
                    <tr><th id="gridhead">
                        <h3>---- CURRENT JOBS ----</h3>
                        Approve or deny the following transfer requests:
                    </th></tr>
                    {% for j in jobs %}
                        <tr><th id="gridcell">
                            <form action="{{url_for('approve_req')}}" method="GET">
                                <input type="text" name="req_for_approval_pk" value="{{j[0]}}" size="4" readonly>
                                <input type="submit" value="TAG: {{j[5]}} | SRC: {{j[6]}} | DEST: {{j[7]}} | DATE: {{j[2]}} | USER: {{j[1]}}">
                            </form>
                        </th></tr>
                    {% endfor %}
                </table>
            </th></tr>
        </table><br>
        <table align="center">
            <tr><th>
                <form action="{{url_for('index')}}">
                    <input type="submit" value="Logout">
                </form>
            </th></tr>
        </table>
    </body>
</html>
