<!DOCTYPE html>
<!-- 'Dashboard' page written by Z.P.L. for OSNAP LOST web application demo -->
<!-- DANGER: DEMO VERSION! (no encryption or security measures have been used) -->
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>
            LOST - Dashboard
        </title>
    </head>
    <body background="{{url_for('static', filename='star_field.png')}}">
        <br>
        <table align="center">
            <tr><th>
                <img src="{{url_for('static', filename='line.png')}}" align="center" width="50" height="50">
                <img src="{{url_for('static', filename='dot.png')}}" align="center" width="50" height="50"><br>
                <img src="{{url_for('static', filename='line.png')}}" align="center" width="50" height="50">
                <img src="{{url_for('static', filename='dot.png')}}" align="center" width="50" height="50"><br>
                <img src="{{url_for('static', filename='line.png')}}" align="center" width="50" height="50">
                <img src="{{url_for('static', filename='dot.png')}}" align="center" width="50" height="50"><br>
            </th><th>
                <table id="maintable" align="center">
                    <tr><th colspan="2">
                        <h2>==== DASHBOARD ====</h2>
                    </th></tr>
                    <tr><th colspan="2">
                        <u>Welcome to LOST!</u><br><br>
                    </th></tr>
                    <tr><th id="gridhead" colspan="2">
                        <u>USERS SPECS</u>
                    </th></tr>
                    <tr><th id="gridcell" colspan="2">
                        Current user: (username)
                    </th></tr>
                    <tr><th id="gridcell" colspan="2">
                        User role: (role title)
                    </th></tr>
                    <tr><th id="gridhead" colspan="2">
                        <u>AVAILABLE PROCEDURES</u>
                    </th></tr>
                    <tr><th id="gridcell">
                        <form action="{{url_for('add_facility')}}">
                            <input type="submit" value="Add Facility">
                        </form>
                    </th><th id="gridcell">
                        <form action="{{url_for('add_asset')}}">
                            <input type="submit" value="Add Asset">
                        </form>
                    </th></tr>
                    <tr><th id="gridcell">
                        <form action="{{url_for('dispose_asset')}}">
                            <input type="submit" value="Dispose Asset">
                        </form>
                    </th><th id="gridcell">
                        <form action="{{url_for('asset_report')}}">
                            <input type="submit" value="Asset Report">
                        </form>
                    </th></tr>
                </table>
            </th><th>
                <img src="{{url_for('static', filename='dot.png')}}" align="center" width="50" height="50">
                <img src="{{url_for('static', filename='line.png')}}" align="center" width="50" height="50"><br>
                <img src="{{url_for('static', filename='dot.png')}}" align="center" width="50" height="50">
                <img src="{{url_for('static', filename='line.png')}}" align="center" width="50" height="50"><br>
                <img src="{{url_for('static', filename='dot.png')}}" align="center" width="50" height="50">
                <img src="{{url_for('static', filename='line.png')}}" align="center" width="50" height="50"><br>
            </th></tr>
        </table><br>
        <table align="center">
            <tr><th>
                <form action="{{url_for('index')}}">
                    <input type="submit" value="Logout">
                </form>
            </th></tr>
        </table>
    </body>
</html>
