<!DOCTYPE html>
<!-- "Report filter" page written by Z.P.L. for OSNAP LOST web application demo -->
<!-- DANGER: DEMO VERSION! (compartment field does not work) -->
<html>
    <body>
        <table align="center">
            <tr><th>
                <h2>Choose Report Type:</h2>
            </th></tr>
            <tr><th>
                <form action="{{url_for('fir')}}", method="POST">
                    <input type="submit" value="Factory Inventory Report">
                </form><br>
            </th></tr>
            <tr><th>
                <form action="{{url_for('itr')}}", method="POST">
                    <input type="submit" value="In-Transit Report">
                </form><br>
            </th></tr>
            <tr><th>
                <form action="{{url_for('logout')}}">
                    <input type="submit" value="Sign Out">
                </form><br>
            </th></tr>
        </table>
    </body>
</html>
